.selectedItem {
    transform: scale(1.1);
    border: white,20px,solid;
}

.selectableWrapper{
    position: relative;
    display: inline-block;
    margin-left:10px;
    transition: all 0.2s ease-in-out;
    width:20vw;
    margin:0;
}

.favorited {
    position: absolute;
    top:0.2vw;
    right:0.4vw;
    text-align: center;
    color:red;
}

