.selectedItem {
    transform: scale(1.05);
    filter: drop-shadow( 0 0 10px #11ffea);
}

.selectableWrapper{
    position: relative;
    display: inline-block;
    margin-left:10px;
    transition: all 0.2s ease-in-out;
    margin:0;
}

.favorited {
    position: absolute;
    top:0.2vw;
    right:0.4vw;
    text-align: center;
    color:red;
}

