.infoContainer{
    height: 90vh;
    padding: 2vh;
}

.movieTextInfo{
    color:white;
}

.movieTextInfo h3{
    font-size: 4vh;
}

.movieTextInfo h1{
    font-size: 6vh;
    font-weight: 500;
}

.movieTextInfo p li{
    font-size: 2vh;
}

.faved{
    font-size: 3vh;
    color:red;
}

.moviePictureWrapper{
    filter: drop-shadow( 0 0 10px white);
    max-width: 100%;
    max-height: 100%;
    border: white 1px solid;
}